@tailwind base;
@tailwind components;
@tailwind utilities;


  
  .form-item-custom {
    margin-bottom: 20px; /* Adjust the space between form items */
  }
  
  .form-item-custom .ant-form-item-label {
    padding-bottom: 8px; /* Adjust the space between label and input */
  }
  
  .submit-button {
    width: 100%;
    border: none;
    border-radius: 4px;
    /* Add hover effect */
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #4299e1; /* hover:bg-blue-500 */
  }
  
  /* Custom CSS to adjust space between label and input field */
.ant-form-item-label {
    margin-right: 5px;
  }

  .blur {
    filter: blur(5px); /* Adjust the pixel value as needed */
}

  
